<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <p style="color: white; font-weight:bolder" *ngIf="!payload">Please wait...</p>
      <div *ngIf="payload" class="row mt-5">
        <div class="col-xl-12">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">{{payload.eventDetails.name}}</h3>
                </div>
                <div class="col text-right">
                  <a href="#!"  class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                  <a href="#!" (click)="deleteEvent()" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                </div>
              </div><br>
              <span style="font-weight: bold;margin: 20px; font-size: 20px; color:darkslateblue;">
                <b>
                  {{payload.eventDetails.estimate | currency:'INR'}}
                </b>
              </span>

              <span class="btn-sm btn-primary">estimated</span>
            </div>
            <div class="row">
              <!-- Projects table -->
              <div class="col-xl-6">
                <div class="card-header border-0">
                  <div class="col">
                    <h4 style="color: gray;" class="mb-0">Available Balance</h4>
                  </div>
                  <div style="margin-top: 10px;" class="table-responsive">
                    <span
                      style="font-weight: bold;margin: 20px; font-size: 20px;">{{payload.supplementaryData.availableBalance | currency:'INR'}}</span>
                    <p class="mt-3 mb-0 text-muted text-md">
                      <span class="text-nowrap">Total Budget
                        <b>{{payload.supplementaryData.totalBudget | currency:'INR'}}</b></span>
                    </p>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span *ngIf="payload.supplementaryData.paymentRequired" class="text-danger mr-2"><i
                          class="fas fa-arrow-up"></i> Payment Required</span>
                      <span *ngIf="!payload.supplementaryData.paymentRequired" class="text-success mr-2"><i
                          class="fas fa-check"></i> No Payment Required</span>
                    </p>


                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card-header border-0">
                  <div class="col">
                    <h4 style="color: gray;" class="mb-0">Total Expenses</h4>
                  </div>
                  <div style="margin-top: 10px;" class="table-responsive">
                    <span
                      style="font-weight: bold;margin: 20px; font-size: 20px;">{{payload.supplementaryData.totalExpenses | currency: 'INR'}}</span>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>
                        {{payload.supplementaryData.expensePercentage}}%</span>
                      <span class="text-nowrap">of estimate {{payload.eventDetails.estimate | currency: 'INR'}}</span>
                    </p>
                    <div style="margin-top: 10px;" class="progress">
                      <div class="progress-bar bg-success" role="progressbar"
                        aria-valuenow="payload.supplementaryData.expensePercentage" aria-valuemin="0"
                        aria-valuemax="100" [ngStyle]="{'width': payload.supplementaryData.expensePercentage+'%'}">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div *ngIf="payload" class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Transactions</h3>
            </div>
          </div>
        </div>
        <div *ngIf="payload.transactions.length > 0" class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Category</th>
                <th scope="col">Desc</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of payload.transactions">
                <th scope="row">
                  {{transaction.transactionDate}}
                </th>
                <th>
                  <i *ngIf="transaction.type == 'EXPENSE'" class="fas fa-arrow-down text-danger mr-3"></i>
                  <i *ngIf="transaction.type == 'BUDGET'" class="fas fa-arrow-up text-success mr-3"></i>
                  {{transaction.amount | currency: 'INR'}}

                </th>
                <td>
                  <span *ngIf="transaction.type == 'EXPENSE'" class="btn-sm btn-success">EXPENSE</span>
                  <span *ngIf="transaction.type == 'BUDGET'" class="btn-sm btn-info">BUDGET</span>

                </td>
                <td>

                </td>
                <td>
                  {{transaction.desc}}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col text-center" style="margin-bottom: 10px; margin-top: 10px;">
            <a href="#!" class="btn btn-sm btn-primary">See more</a>
          </div>
        </div>
        <h3 style="margin: 10px;" *ngIf="payload.transactions.length == 0">😐 <i>No Transactions yet </i></h3>

      </div>
    </div>

  </div>
</div>


<div (click)="open(content)" class="fab"> + </div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Expense / Budget</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createTransactionForm">

      <!-- Default switch -->
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input (change)="changeExpenseType($event)" [checked]="checkbox" type="checkbox" class="custom-control-input"
            id="customSwitches" />
          <label class="custom-control-label" for="customSwitches">
            <p class="btn-sm btn-{{expenseTypeState}}"><b>Budget
              </b></p>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-username">Amount</label>
        <input formControlName="amount" type="text" id="input-username" class="form-control form-control-alternative"
          placeholder="50,000">
      </div>
      <div *ngIf="categoryState" class="form-group">
        <label class="form-control-label" for="input-username">Category</label>
        <select formControlName="category" class="form-control form-control-alternative">
          <option value="CEMENT">MATERIALS</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-username">Desc</label>
        <input formControlName="desc" type="text" id="input-username" class="form-control form-control-alternative"
          placeholder="Description">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-username">Transaction Date</label>
        <input formControlName="transactionDate" id="dateOfBirth" (click)="dp.toggle()"
          class="form-control form-control-alternative" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
          #dp="ngbDatepicker">
        <!-- <div class="input-group">
         
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div> -->
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createTransaction()">Save</button>
  </div>
</ng-template>
